.table th[colspan="2"] {
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

.table th {
  background-color: #f56800;
  color: #fff;
}

.table td,
.table th {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}