.body {
    padding: 0;
    background-color: #1f2b44;

    font-size: 20pt;
}

.nav-bar {
    display: flex;
    padding: 1em;
    background-color: #45535d;
    justify-content: space-between;
}

.navigation {
    display: flex;
}

.nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;

    color: Black;
    font-size: 1rem;
    text-decoration: none;
}

.title {
    display: flex;
    justify-content: center;
}