.body {
  padding: 0;
  font-size: 20pt;
}

.main-intro {
  padding-top: 3em;
  padding-left: 1em;
  width: 70vw;
  word-wrap: normal;
}

.rit-link {
  display: inline;
  text-decoration: none;
  color: #f56800;
}
